body{
    background-color: white;
}
img{
    display: block;
    width: 500px;
    margin:auto;
}
h1{
    color : red;
    border: 2px solid powderblue;
    text-align: center;
}
h2{
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.popupContent{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#customersMenu{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#bookingMenu{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.menuBtn{
    align-self: center;
    margin-bottom: 20px;
}

#customerListPopupContent{
    flex-direction: column;
    height: 50%;
    width: 50%
}

#bookingListPopupContent{
    flex-direction: column;
    height: 50%;
    width: 50%
}
.list{
    margin:auto
}

.cancel{
    margin-left: auto;
    margin-top: auto;
}